@charset 'utf-8';
#ui{overflow:hidden;margin:20px;}
.page_a{background: url(../image/btnsx30.gif) no-repeat;text-align: center;display:inline-block;font: bold 14px/26px 'simsun';margin-right:5px;padding-left:3px;text-decoration:none;color:#666;}
.page_a:hover{background-position:0 -60px;}
.page_a:active{background-position:0 -120px;}
.pageBox{text-align:center;}
.p_span{display:inline-block;height:30px;line-height:30px;margin-left:10px;}
.total_pages{float:left;}
.jup{float:none;zoom:1;width:200px;vertical-align:top;}
.jupto{width:3em;border:1px solid #c1c1c1;padding:2px 3px;outline:none}
.jupbtn{float:right;}
.page_span{margin:0;padding:2px 10px 2px 8px;background: url(../image/btnsx30.gif) no-repeat;background-position: 100% -30px;line-height:26px;display:inline-block;cursor:pointer;float:left;}
.page_a:hover .page_span{background-position:100% -90px;}
.page_a:active .page_span{background-position:100% -150px;}
.page_current,.page_current:hover,.page_current:active{background-position:0 -180px;cursor:default;}
.page_current .page_span,.page_current:hover .page_span,.page_current:active .page_span{background-position:100% -210px;color:#27a9e3;cursor:default;}
.page_ellipsis{display:inline-block;margin-right:5px;}
.page_icon{background: url(../image/calenderIcon.gif) no-repeat;display:inline-block;width:30px;height:30px;}
.page_pre{margin-right:5px}
.page_pre:hover{background-position:0 -35px;}
.page_pre:active{background-position:0 -70px;}
.page_nxt{background-position:-69px 0;}
.page_nxt:hover{background-position:-69px -35px;}
.page_nxt:active{background-position:-69px -70px;}
.page_disable,.page_disable:hover{background-position:0 -120px;cursor:default;}
.page_disable .page_span,.page_disable:hover .page_span{background-position:100% -150px;}
.page_pre_disable,.page_pre_disable:hover{background-position:0 -70px;cursor:default;}
.page_nxt_disable,.page_nxt_disable:hover{background-position:-69px -70px;cursor:default;}
